<!DOCTYPE html>
<html lang="zxx">

<head>
	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>58 market - Accueille -</title>

	<meta name="keywords" content="Magasin, alimentation,vote,fraudes">
	<meta name="description" content="multi market wabsite , scanne products , vote for market , report fraudes">
	<meta name="author" content="mekerri kenza">

	<!-- icon de nav de navigateur -->
	<link rel="shortcut icon" href="imgs/58_logo.png" type="image/png">

	<!-- Mobile Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:300,400,700" rel="stylesheet">

	<!--  CSS frameworks installé -->
	<link rel="stylesheet" href="libs/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="libs/font-material/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" href="libs/nivo-slider/css/nivo-slider.css">
	<link rel="stylesheet" href="libs/nivo-slider/css/animate.css">
	<link rel="stylesheet" href="libs/nivo-slider/css/style.css">
	<link rel="stylesheet" href="libs/owl.carousel/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="libs/slider-range/css/jslider.css">

	<!-- CSS de site -->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/reponsive.css">
</head>

<body class="home home-4">
	<div id="all">
		<!-- Header -->
		<header id="header">
			<div class="container">
				<div class="header-top">
					<div class="row align-items-center">
						<!-- Header Left -->
						<div class="col-lg-5 col-md-5 col-sm-12">
							<!-- Main Menu -->
							<div id="main-menu">
								<ul class="menu">
									<li class="dropdown">
										<a href="index.html" title="Homepage">Accé</a>

									</li>

									<li class="dropdown">
										<a href="#produits" title="Product">Produits</a>
									</li>

									<li class="dropdown">
										<a href="#nous" title="Page">A prpops</a>
									</li>

									<li class="dropdown">
										<a href="#contact">Contact</a>
									</li>
								</ul>
							</div>
						</div>

						<!-- Header Center -->
						<div class="col-lg-2 col-md-2 col-sm-12 header-center justify-content-center">
							<!-- Logo -->
							<div class="logo">
								<a href="">
									<img class="img-responsive" src="imgs/58_logo.png" alt="Logo">
								</a>
							</div>

							<span id="toggle-mobile-menu"><i class="zmdi zmdi-menu"></i></span>
						</div>


						<!-- Header Right -->
						<div
							class="col-lg-5 col-md-5 col-sm-12 header-right d-flex justify-content-end align-items-center">
							<!-- Search -->
							<div class="form-search">
								<form action="#" method="get">
									<input type="text" class="form-input" placeholder="Chercher">
									<button type="submit" class="fa fa-search"></button>
								</form>
							</div>

							<!-- Cart -->
							<div class="block-cart dropdown">
								<div class="cart-title">
									<i class="fa fa-shopping-basket" aria-hidden="true"></i>
									<span class="cart-count">2</span>
								</div>

								<div class="dropdown-content">
									<div class="cart-content">
										<table>
											<tbody>
												<tr>
													<td class="product-image">
														<a href="product-detail-left-sidebar.html">
															<img src="img/product/6.jpg" alt="Product">
														</a>
													</td>
													<td>
														<div class="product-name">
															<a href="product-detail-left-sidebar.html">Avocats</a>
														</div>
														<div>
															1 x <span class="product-price">350 DA</span>
														</div>
													</td>
													<td class="action">
														<a class="remove" href="#">
															<i class="fa fa-trash-o" aria-hidden="true"></i>
														</a>
													</td>
												</tr>

												<tr class="total">
													<td>Total:</td>
													<td colspan="2">350 DA</td>
												</tr>

												<tr>
													<td colspan="3">
														<div class="cart-button">
															<a class="btn btn-primary" href="product-cart.html"
																title="View Cart">Cart</a>
															<a class="btn btn-primary" href="product-checkout.html"
																title="Checkout">Checkout</a>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>


							<!-- My Account -->
							<div class="my-account dropdown toggle-icon">
								<div class="dropdown-toggle" data-toggle="dropdown">
									<i class="zmdi zmdi-menu"></i>
								</div>
								<div class="dropdown-menu">
									<div class="item">
										<a href="#" title="Log in to your customer account"><i class="fa fa-cog"></i>Mon
											profil</a>
									</div>
									<div class="item">
										<a href="user-login.html" title="Log in to your customer account"><i
												class="fa fa-sign-in"></i>se connecter</a>
									</div>
									<div class="item">
										<a href="user-register.html" title="Register Account"><i
												class="fa fa-user"></i>Register</a>
									</div>
									<!-- <div class="item">
											<a href="#" title="My Wishlists"><i class="fa fa-heart"></i>My Wishlists</a>
										</div> -->
									<div class="item">
										<!-- Language -->
										<div class="language switcher">
											<a href="#" title="Language FRENCH" class="active">FR</a>
											<a href="#" title="Language ENGLISH">EN</a>
											<a href="#" title="Language ARABIC">AR</a>
										</div>


									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>


		<!-- Main Content -->
		<div id="content" class="site-content">
			<!-- Breadcrumb -->
			<div id="breadcrumb">
				<div class="container">
					<h2 class="title">Check out des produits</h2>
					
					<ul class="breadcrumb">
						<li><a href="#" title="Home">Accueille</a></li>
						<li><span>Checkout</span></li>
					</ul>
				</div>
			</div>
		
			<div class="container">
				<div class="page-checkout">
					<div class="row">
						<div class="checkout-left col-lg-9 col-md-9 col-sm-9 col-xs-12">
							<p>Returning customer? <a class="login" href="user-login.html">Click here to login</a>.</p>
							<div class="panel-group" id="accordion">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
												Address
											</a>
										</h4>
									</div>
									<div id="collapseOne" class="accordion-body collapse" style="height: 0px;">
										<div class="panel-body">
											<form action="#" id="formaddress" method="post" class="form-horizontal">
												<div class="form-group">
													<div class="col-md-12">
														<label>Country</label>
														<select class="form-control">
															<option value="">Select a country</option>
															<option value="australia">Australia</option>
															<option value="brazil">Brazil</option>
														</select>
													</div>
												</div>
												<div class="form-group">
													<div class="col-md-6">
														<label>First Name</label>
														<input type="text" value="" class="form-control">
													</div>
													<div class="col-md-6">
														<label>Last Name</label>
														<input type="text" value="" class="form-control">
													</div>
												</div>
												<div class="form-group">
													<div class="col-md-12">
														<label>Company Name</label>
														<input type="text" value="" class="form-control">
													</div>
												</div>
												<div class="form-group">
													<div class="col-md-12">
														<label>Address </label>
														<input type="text" value="" class="form-control">
													</div>
												</div>
												<div class="form-group">
													<div class="col-md-12">
														<label>City </label>
														<input type="text" value="" class="form-control">
													</div>
												</div>
												<div class="form-group">
													<div class="col-md-12">
														<label>Commade via :</label>
														<select class="form-control">
															<option value="">Choisir la méthode</option>
															<option value="australia">moi meme</option>
															<option value="brazil">livreur</option>
														</select>
													</div>
												</div>
												<div class="form-group">
													<div class="col-md-12">
														<input type="submit" value="Save" class="btn pull-right">
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
								
								<!-- <div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
												Shipping
											</a>
										</h4>
									</div>
									<div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
										<div class="panel-body">
											<form action="#" id="formshipping" method="post" class="form-horizontal">
												<div class="form-group">
													<div class="col-md-12">
														<span class="remember-box checkbox">
															<label>
																<input type="checkbox" checked="checked">Ship to billing address?
															</label>
														</span>
													</div>
												</div>
												<div class="form-group">
													<div class="col-md-12">
														<label>Country</label>
														<select class="form-control">
															<option value="">Select a country</option>
															<option value="australia">Australia</option>
															<option value="brazil">Brazil</option>
														</select>
													</div>
												</div>
												<div class="form-group">
													<div class="col-md-6">
														<label>First Name</label>
														<input type="text" value="" class="form-control">
													</div>
													<div class="col-md-6">
														<label>Last Name</label>
														<input type="text" value="" class="form-control">
													</div>
												</div>
												<div class="form-group">
													<div class="col-md-12">
														<label>Company Name</label>
														<input type="text" value="" class="form-control">
													</div>
												</div>
												<div class="form-group">
													<div class="col-md-12">
														<label>Address </label>
														<input type="text" value="" class="form-control">
													</div>
												</div>
												<div class="form-group">
													<div class="col-md-12">
														<label>City </label>
														<input type="text" value="" class="form-control">
													</div>
												</div>
												<div class="form-group">
													<div class="col-md-12">
														<input type="submit" value="Save" class="btn pull-right">
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
								
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
												Payment
											</a>
										</h4>
									</div>
									<div id="collapseThree" class="accordion-body collapse" style="height: 0px;">
										<div class="panel-body">
											<table class="cart-summary table table-bordered">
												<thead>
													<tr>
														<th class="width-80 text-center">Image</th>
														<th>Name</th>
														<th class="width-100 text-center">Unit price</th>
														<th class="width-100 text-center">Qty</th>
														<th class="width-100 text-center">Total</th>
													</tr>
												</thead>
												
												<tbody>
													<tr>
														<td>
															<a href="product-detail-left-sidebar.html">
																<img width="80" alt="Product Image" class="img-responsive" src="img/product/19.jpg">
															</a>
														</td>
														<td>
															<a href="product-detail-left-sidebar.html" class="product-name">Organic Strawberry Fruits</a>
														</td>
														<td class="text-center">
															$265
														</td>
														<td class="text-center">
															1
														</td>
														<td class="text-center">
															$265
														</td>
													</tr>
													
													<tr>
														<td>
															<a href="product-detail-left-sidebar.html">
																<img width="80" alt="Product Image" class="img-responsive" src="img/product/31.jpg">
															</a>
														</td>
														<td>
															<a href="product-detail-left-sidebar.html" class="product-name">Organic Strawberry Fruits</a>
														</td>
														<td class="text-center">
															$150
														</td>
														<td class="text-center">
															2
														</td>
														<td class="text-center">
															$300
														</td>
													</tr>
												</tbody>
											</table>

											<h4 class="heading-primary">Cart Total</h4>
											<table class="table cart-total">
												<tbody>
													<tr>
														<th>
															Cart Subtotal
														</th>
														<td class="total">
															$431
														</td>
													</tr>
													<tr>
														<th>
															Shipping
														</th>
														<td>
															Free Shipping
														</td>
													</tr>
													<tr>
														<th>
															<strong>Order Total</strong>
														</th>
														<td class="total">
															$431
														</td>
													</tr>
												</tbody>
											</table>

											<h4 class="heading-primary">Payment</h4>
											<form action="#" method="post">
												<div class="item">
													<input type="checkbox">Pay by bank wire (order processing will be longer)
												</div>
												<div class="item">
													<input type="checkbox">Pay by check (order processing will be longer)
												</div>
											</form>
										</div>
									</div>
								</div> -->
							</div>

							<!-- <div class="pull-left">
								<h3>La commande va étre récupérer : </h3>
								<input type="submit" value="par moi meme" name="proceed" class="btn btn-primary">
								<input type="submit" value="via livreur" name="proceed" class="btn btn-primary">
							</div>
							<br><br><br><br> -->

							<div class="pull-right">
								<input type="submit" value="Cofirmer la commande" name="proceed" class="btn btn-primary">
							</div>
						</div>
						
						<div class="checkout-right col-lg-3 col-md-3 col-sm-3 col-xs-12">
							<h4 class="title">Prix Total</h4>
							<table class="table cart-total">
								<tbody>
									<tr class="cart-subtotal">
										<th>
											<strong>Prix de produits</strong>
										</th>
										<td>
											<strong><span class="amount">431</span></strong>
										</td>
									</tr>
									<tr class="shipping">
										<th>
											livraison
										</th>
										<td>
											155<input type="hidden" value="free_shipping" class="shipping-method" name="shipping_method">
										</td>
									</tr>
									<tr class="total">
										<th>
											<strong>Total</strong>
										</th>
										<td>
											<strong><span class="amount">431</span></strong>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br><br><br>


		<!-- Footer -->
		<footer id="footer">
			<div class="footer">
				<div class="container">
					<div class="footer-wrap">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-col">
								<div class="block text">
									<div class="block-content">
										<a href="home-4.html" class="logo-footer">
											<img src="imgs/58_logo.png" alt="Logo">
										</a>

										<p>Lorem ipsum dolor sit amet, consectetur adipisc ing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua.</p>
										<p>Ut enim ad minim veniam, quis nostrud exercita tion ullamco laboris nisi ut
											aliquip.</p>
									</div>
								</div>
							</div>

							<!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-col">
									<div class="block newsletter">
										<h2 class="block-title">Newsletter</h2>
										
										<div class="block-content">
											<p class="description">Sign up for newsletter to receive special offers and exclusive news about FreshMart products</p>
											<form action="#" method="post">
												<input type="text" placeholder="Enter Your Email">
												<button type="submit" class="btn btn-primary">Subscribe</button>
											</form>
										</div>
									</div>
								</div> -->

							<!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-col">
									<div class="block text">
										<h2 class="block-title">Opening Hours</h2>
										
										<div class="block-content">
											<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
											<p>
												<strong>Monday To Friday</strong> : 8.00 AM - 8.00 PM<br>
												<strong>Satuday</strong> : 7.30 AM - 9.30 PM<br>
												<strong>Sunday</strong> : 7.00 AM - 10.00 PM
											</p>
										</div>
									</div>
								</div> -->

							<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-col">
								<div class="block text">
									<h2 class="block-title">Contact</h2>

									<div class="block-content">
										<div class="contact">
											<!-- <p><strong>Address</strong> : 123 Suspendis matti, VST District, NY Accums, North American</p> -->
											<p><strong>Numéro de telephone :</strong> : 012345678910</p>
											<p><strong>Email</strong> : <a
													href="mailto:support@domain.com">58_market@gmail.com</a></p>
										</div>
									</div>
								</div>
							</div>


						</div>
					</div>
				</div>
			</div>

			<!-- Copyright -->
			<div class="footer-copyright">
				<div class="container">
					<div class="row">
						<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
							<div class="copyright">
								<a target="_blank" href="https://www.templateshub.net">Tous les drois sont reservés</a>
								<div class="payment"><a href="">58 Market - Multi magasins -</a></div>

							</div>
						</div>
						<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 align-right">
							<div class="payment">
								<!-- <img src="img/payment.png" alt="Payment"> -->
								<!-- <img src="imgs/pngwing.png" alt="Payment" width="100px"> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>


		<!-- Go Up button -->
		<div class="go-up">
			<a href="#">
				<i class="fa fa-long-arrow-up"></i>
			</a>
		</div>

		<!-- Page Loader -->
		<div id="page-preloader">
			<div class="page-loading">
				<div class="dot"></div>
				<div class="dot"></div>
				<div class="dot"></div>
				<div class="dot"></div>
				<div class="dot"></div>
			</div>
		</div>
	</div>

	<!-- Vendor JS -->
	<script src="libs/jquery/jquery.js"></script>
	<script src="libs/bootstrap/js/bootstrap.js"></script>
	<script src="libs/jquery.countdown/jquery.countdown.js"></script>
	<script src="libs/nivo-slider/js/jquery.nivo.slider.js"></script>
	<script src="libs/owl.carousel/owl.carousel.min.js"></script>
	<script src="libs/slider-range/js/tmpl.js"></script>
	<script src="libs/slider-range/js/jquery.dependClass-0.1.js"></script>
	<script src="libs/slider-range/js/draggable-0.1.js"></script>
	<script src="libs/slider-range/js/jquery.slider.js"></script>
	<script src="libs/elevatezoom/jquery.elevatezoom.js"></script>

	<!-- Template CSS -->
	<script src="js/main.js"></script>
</body>



</html>